:root {
  --main-background-black: #1f1f1f;
  --main-text-black: #000000;
  --switch-black: #000000;
  --switch-icon-black: #000000;
  --switch-background-black: #000000;
  // --textField-backround-black: #000000;
  --textField-color-black: #000000;
  --addButton-background-black: #000000;
  --addButton-color-black: #000000;
  --filterBorder-color-black: #000000;
  --form-text-black: #000000;
  --form-background-black: #292828;

  --main-background-white: #ffffff;
  --main-text-white: #ffffff;
  --switch-white: #ffffff;
  --switch-icon-white: #ffffff;
  --switch-background-white: #ffffff;
  --textField-backround-white: #ffffff;
  --textField-color-white: #ffffff;
  --addButton-background-white: #ffffff;
  --addButton-color-white: #ffffff;
  --filterBorder-color-white: #ffffff;
  --form-text-white: #ffffff;
  --form-background-white: #ffffff;

  --font-familly-base: "Mozilla Headline", sans-serif;
  --border-color: #e0e0e0;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

[data-theme="light"] {
  --main-background-color: var(--main-background-white);
  --main-text-color: var(--main-text-black);
  --switch-color: var(--switch-black);
  --switch-background-color: var(--switch-background-white);
  --switch-icon-color: var(--switch-icon-white);
  // --textField-backround-color: var(--textField-backround-black);
  // --textField-color: var(--textField-color-white);
  --addButton-background-color: var(--addButton-background-black);
  --addButton-color: var(--addButton-color-white);
  --filterBorder-color: var(--filterBorder-color-black);
  --form-text-color: var(--form-text-black);
  --form-background-color: var(--form-background-white);
}

[data-theme="dark"] {
  --main-background-color: var(--main-background-black);
  --main-text-color: var(--main-text-white);
  --switch-color: var(--switch-white);
  --switch-background-color: var(--switch-background-black);
  --switch-icon-color: var(--switch-icon-black);
  --textField-backround-color: var(--textField-backround-white);
  --textField-color: var(--textField-color-black);
  --addButton-background-color: var(--addButton-background-white);
  --addButton-color: var(--addButton-color-black);
  --filterBorder-color: var(--filterBorder-color-white);
  --form-text-color: var(--form-text-white);
  --form-background-color: var(--form-background-black);
}

[data-theme] {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

// Для всех элементов, которые меняют цвет
* {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out, fill 0.5s ease-in-out,
    stroke 0.5s ease-in-out;
}

.MuiSwitch-root {
  transition: all 0.5s ease-in-out !important;
}

.MuiSwitch-track {
  transition: background-color 0.5s ease-in-out !important;
}

.MuiSwitch-thumb {
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out !important;
}
